{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block head%}
<script src="{{url_for('static', filename='js/report.js')}}"></script>
{% endblock %}



{% block pagecontent %}
<div class="container-fluid py-4">
  <div class="flexer">
    <form action="/generatereport" method="POST">
      <input type="month" class="form-control" name="value_date" value="{{date}}" hidden />
      <input type="text" class="form-control" name="filter_member" value="{{filter_member}}" hidden />
      <button type="submit" class="btn btn-icon btn-3 bg-gradient-success center-container" style="width:200px;"
        type="button">
        <span class="btn-inner--icon"><i class="fa-solid fa-file-word"></i></span>
        <span class="btn-inner--text">Export Overall Month Report</span>
      </button>
    </form>
    <div class="input-group input-group-static mb-4 w-20 ms-4">
      <label for="exampleFormControlSelect1" class="ms-0">Month and Year</label>
      <input type="month" class="form-control" id="month_year" value="{{date}}" min="{{min}}" max="{{max}}" />
    </div>
    <div class="input-group input-group-static mb-4 w-20 ms-4">
      <label for="exampleFormControlSelect1" class="ms-0">Filter</label>
      <select name="filter_member" id="filter_member" class="form-control">
        <option value="all" {% if filter_member == 'all' %}selected{%endif%}>All</option>
        {% for each in members %}
        <option value="{{each.id_number}}" {% if filter_member | string == each.id_number  | string %}selected{%endif%}>{{each.lastname}}, {{each.firstname}} {{each.middlename | first}}.</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Monthly Report</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-2">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total Hours
                    Rendered</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Remarks
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for report in month_totalhours %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">

                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{report.name}}</h6>
                        <p class="text-xs text-secondary mb-0">{{report.position}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{report.total_rendered}}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if report.remarks == 'Complete' %}
                    <span class="badge badge-sm bg-gradient-success">{{report.remarks}}</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-danger">{{report.remarks}}</span>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-4">
  <br><br>
  {% for each in month_info %}
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Week {{each.week_number}} Report | {{each.week_start}} - {{each.week_end}} </h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-2">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Time</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Remarks</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start & End of Week</th>
                </tr>
              </thead>
              <tbody>
         
                {% for report in month_weeklyhours %}
                {% if report.week_number == each.week_number %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">

                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{report.member_name}}</h6>
                        <p class="text-xs text-secondary mb-0">{{report.position}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0 text-center">{{report.time_total}}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if report.remarks == 'Complete' %}
                    <span class="badge badge-sm bg-gradient-success">{{report.remarks}}</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-danger">{{report.remarks}}</span>
                    {% endif %}
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0 text-center">{{report.week_date}}</p>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              
              </tbody>
            </table>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% if daily_attendance is defined and daily_attendance is not none %}
<div class="container-fluid py-4">
  <br><br>
 
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Daily Attendance</h6>
          </div>
        </div>
    
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>

                <tr>

                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Time In
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Countersigned By</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Signed By
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Work Done
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Time Out
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Countersigned By</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Signed By
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Time
                    Rendered</th>

                </tr>
              </thead>
              <tbody>
                <tr></tr>
                {% for total in daily_attendance %}
                <tr>
          
                  <td class="align-middle text-center">
                    <p class="text-xs font-weight-bold mb-0">{{total.time_in.strftime('%I:%M %p')}}</p>
                    <p class="text-xs text-secondary mb-0">{{total.time_in.strftime('%B %d, %Y')}}</p>
                  </td>

                  <td class="align-middle text-center">
                    {% for each in members%}
                    {% if total.countersign_time_in == each.id_number%}
                    <p class="text-xs font-weight-bold mb-0">{{each.lastname}}, {{each.firstname }} {{each.middlename |
                      first}}.</p>
                    {% for position in positions %}
                    {% if each.positionID == position.positionID %}
                    <p class="text-xs text-secondary mb-0">{{position.position_level}} {{position.position}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}

                    {% if total.countersign_time_in is none %}
                    <p class="text-xs font-weight-bold mb-0">
                      <span class="badge bg-gradient-danger">No countersign</span>
                    </p>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center">
                    {% for each in members%}
                    {% if each.id_number == total.signature_time_in%}
                    <p class="text-xs font-weight-bold mb-0">{{each.lastname}}, {{each.firstname }} {{each.middlename |
                      first}}.</p>
                    {% for position in positions %}
                    {% if position.positionID == each.positionID %}
                    <p class="text-xs text-secondary mb-0">{{position.position_level}} {{position.position}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}

                    {% if total.signature_time_in is none %}
                    <p class="text-xs font-weight-bold mb-0">
                      <span class="badge bg-gradient-danger">No sign yet</span>
                    </p>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center">
                    {% if total.work_done is not none%}
                    <textarea style="resize: none; width:200px; white-space: pre-wrap; height:100px; border:1px solid gray; outline:none; border-radius:5px;  padding:5px;"
                      readonly>{{total.work_done}}</textarea>
                    {% else %}
                    <textarea style="resize:none; width:200px; white-space: pre-wrap; height:100px; border:1px solid gray;  outline:none; border-radius:5px; padding:5px;"
                      readonly>No work done yet</textarea>

                    {% endif %}
                  </td>

                  <td class="align-middle text-center">
                    {% if total.time_out is not none %}
                    <p class="text-xs font-weight-bold mb-0">{{total.time_out.strftime('%I:%M %p')}}</p>
                    <p class="text-xs text-secondary mb-0">{{total.time_out.strftime('%B %d, %Y')}}</p>
                    {% else %}
                    <span class="text-secondary text-xs font-weight-bold"><span class="badge bg-gradient-danger">No time
                        out yet</span></span>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center">
                    {% for each in members%}
                    {% if each.id_number == total.countersign_time_out%}
                    <p class="text-xs font-weight-bold mb-0">{{each.lastname}}, {{each.firstname }} {{each.middlename |
                      first}}.</p>
                    {% for position in positions %}
                    {% if position.positionID == each.positionID %}
                    <p class="text-xs text-secondary mb-0">{{position.position_level}} {{position.position}}</p>
                    {% endif %}
                    {% endfor %}

                    {% endif %}
                    {% endfor %}

                    {% if total.countersign_time_out is none %}
                    <p class="text-xs font-weight-bold mb-0">
                      <span class="badge bg-gradient-danger">No countersign</span>
                    </p>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    {% for each in members%}
                    {% if each.id_number == total.signature_time_out%}
                    <p class="text-xs font-weight-bold mb-0">{{each.lastname}}, {{each.firstname }} {{each.middlename |
                      first}}.</p>
                    {% for position in positions %}
                    {% if position.positionID == each.positionID %}
                    <p class="text-xs text-secondary mb-0">{{position.position_level}} {{position.position}}</p>
                    {% endif %}
                    {% endfor %}

                    {% endif %}
                    {% endfor %}

                    {% if total.signature_time_out is none %}
                    <p class="text-xs font-weight-bold mb-0">
                      <span class="badge bg-gradient-danger">No sign yet</span>
                    </p>
                    {% endif %}
                  </td>

                  <td class="align-middle text-center">

                    {% if total.time_rendered is not none %}
                    <span class="text-secondary text-xs font-weight-bold">{{total.time_rendered}}</span>
                    {% else %}
                    <span class="text-secondary text-xs font-weight-bold">
                      <span class="badge bg-gradient-danger">Incomplete</span>
                    </span>
                    {% endif %}
                  </td>
      

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}